.nav_item {
    text-transform: uppercase;
    font-weight: 500;
    list-style: none;
    display: inline;
    a{
        color: #fff;
        text-decoration: none;
    }

    .active {
        color: #4B8FE2;
    }
}