
.container {
    margin: 2rem 15.25rem;

    h3 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #4B8FE2;
        margin-bottom: 1.5rem;
    }

    h4 {
        font-size: 3rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }

    .movieContainer {
        position: relative;

        img {
            position: absolute;
            height: 7rem;
            width: 7rem;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        video {
            height: 41rem;
            width: 100%;
            margin-bottom: 1rem;
        }
    }


    p{
        font-size: 1.4rem;
    }
}