.product_item {
    flex: 0 1 23.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: .75rem;
    
    & > img {
        height: 13rem;
        border-radius: .5rem;
        border-top-left-radius: 0;
    }

    & .basic_info {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: .95rem;
    }

    & .product_description {
        color: #4E4E4E;
        font-size: .7rem;
    }

    & .guarantee {
        display: flex;
        color: #008800;
        font-size: .8rem;
        font-weight: 600;
        text-transform: uppercase;
        align-items: center;
        gap: .25rem;
        border-bottom: 1px solid #eaeaea;
        padding-bottom: .5rem;
        & img {
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    & .buttons {
        display: flex;
        justify-content: flex-end;
    }
}