.sidebar_nav {
    & ul {
        display: flex;
        list-style: none;
        gap: 2rem;
        text-transform: uppercase;
        color: #999999;
        margin-bottom: 2rem;

        & li {
            cursor: pointer;
        }
        
        & li.active {
            color: #000;
            font-weight: 500;
            border-bottom: 2px solid black;
        }
    }
}

.cards_container {
    flex-direction: column;
    gap: 2rem;
}