
.btn {
    background: none;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    color: #FFF;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem 1.75rem;
    letter-spacing: 2px;
}