
.searchBar {

    padding: 1rem 1.5rem;
    background-color: #EBECF4;
    border-radius: 3rem;
    color: #95969A;
    font-family: var(--primary-font);
    font-weight: 400;

    &:focus-visible {
        outline: none;
    }

    &::-webkit-input-placeholder {
        font-weight: 300;
    }
    &::-moz-placeholder {
        font-weight: 300;
    }
    &::-ms-input-placeholder {
        font-weight: 300;
    }
}