.blogContainer {
    display: flex;
    flex-direction: column;
    width: 54rem;
    height: 100vh;
    overflow: scroll;
    padding: 3rem 4rem;

    img {
        height: 27rem;
        object-fit: cover;
        border-radius: 1rem;
        margin-bottom: 1.5rem;
    }

    h2 {
        font-size: 2rem;
        font-family: var(--secondary-font);
        font-weight: 500;
        margin-bottom: 1rem;
    }

    p{
        font-size: 1.075rem;
        font-family: var(--primary-font);
        font-weight: 300;
        line-height: 160%;
        margin-bottom: 1rem;
    }

    .userActions {
        display: flex;
        align-self: flex-end;
        gap: 1rem;

        button {
            font-size: .75rem;
            font-weight: 500;
            padding: 1rem 3rem;
        }
    }

    .button {
        font-size: .75rem;
        font-weight: 500;
        padding: 1rem 3rem;
        align-self: flex-end;
    }
}