.container {
    flex: 0 0 34%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--secondary-background);
    padding: 2rem 2rem;

    height: 100vh;

    .header {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .search {
            flex: 0 0 72%;
        }
    }

    .blogs {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        overflow: scroll;

        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar {
            display: none;
          }
    }

    .modalHeader {
        font-size: 2rem;
        margin-bottom: 1rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid var(--primary-text);
    }

    .modalBody {
        font-size: 1.2rem;

        .buttons {
            display: flex;
            justify-content: center;
            gap: 1rem;
            margin-top: 1rem;

            & > button {
                font-size: 1rem;
                padding: 1rem 3rem;
            }
        }
    }
}