.container {
	flex: 0 0 33.5%;

	display: flex;
	flex-direction: column;
	gap: 2rem;
	background-color: var(--secondary-background);
	padding: 2rem 2rem;

	height: 100vh;

	.header {
		display: flex;
		width: 100%;
		justify-content: space-between;

		.search {
			flex: 0 0 70%;
		}
	}

	.blogs {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		overflow: scroll;

		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		&::-webkit-scrollbar {
			display: none;
		}
	}

	.buttons {
		display: flex;
		justify-content: end;
		gap: 1rem;
		margin-top: 1rem;

		& > button {
			font-size: 0.8rem;
			padding: 0.5rem 2rem;
		}
	}
}
