
.search_bar {
    border: 2px solid #E2E9F9;
    border-radius: .25rem;
    height: 4rem;
    padding: 1.25rem;
    display: inline-flex;
    gap: 0.75rem;
}

.search_bar > img {
    height: 100%;
}

.search_input {
    border: none;
    width: 19rem;
}

.search_input::placeholder {
    font-weight: 500;
    color: #848894;
    font-size: 1rem;
}

.search_input:focus-visible {
    border: none;
    outline: none;
}