
.search_bar {
    border: 2px solid #E2E9F9;
    border-radius: .25rem;
    height: 3rem;
    padding: 0.75rem;
    display: inline-flex;
    gap: 1rem;
}

.search_bar > img {
    height: 100%;
}

.search_input {
    border: none;
    width: 14rem;
}

.search_input::placeholder {
    font-weight: 500;
}

.search_input:focus-visible {
    border: none;
    outline: none;
}