
.select {
    background: none;
    width: 100%;
    color: #919191;
    padding: 0 2rem;
    height: 4.5rem;
    font-size: 1.1rem;
    cursor: pointer;

    -webkit-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat, repeat;
    background-position: right 20px top 50%, 0 0;
    background-size: 30px;
}