:root {
  /* Font family */
  --primary-font: 'IBM Plex Sans', sans-serif;
  --secondary-font: 'Roboto Slab', serif;

  /* Light Mode Colors */
  /* Button Colors */
  --primary-btn-color: #B355B7;
  --secondary-btn-color: #69F8F8;

  /* Text Colors */
  --primary-color: #B355B7;
  --primary-text: #111;

  /* Background */
  --primary-background: #FFF;
  --secondary-background: #F5F6FA;
  --primary-dark-background: #96E2F4;

  /* Component Colors */
  --search-bar-background: #EBECF4;
  --blog-summary-background: var(--primary-background);
  --modal-background: #4F4F4F;
  --text-pink: #B355B7;

}

