.modalContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#1e1e1e, 0.7);
    display: flex;
    justify-content: end;
    
    .modal {
        background-color: #fff;
        height: 100%;
        width: 38rem;
        position: relative;
        padding: 5rem 3.5rem;
        overflow: scroll;
    }

    &.dark {
        background-color: rgba(#041D2E, 0.7);

        .modal {
            background-color: #00090E;
        }
    }

    .modalHeader {
        font-size: 2rem;
        margin-bottom: 1rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid var(--primary-text);
    }

    .modalBody {
        font-size: 1.2rem;

        .buttons {
            display: flex;
            justify-content: center;
            gap: 1rem;
            margin-top: 1rem;

            & > button {
                font-size: 1rem;
                padding: 1rem 3rem;
            }
        }
    }
}
